@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgba(39, 36, 147, 1);
  --primary-light-color: rgba(39, 36, 147, 0.1);
  --secondary-color: rgba(74, 192, 136, 1);
  --secondary-color-100: rgba(74, 192, 136, 0.1);
  --secondary-light-color: rgba(0, 129, 229, 1);
  --secondary-light-100: rgba(0, 129, 229, 0.1);
  --secondary-light: rgba(0, 129, 229, 0.05);
  --background-color: rgba(234, 232, 237, 1);
  --black-color: rgb(30, 27, 22);


  --white-color: rgb(255, 255, 255);
  --grey-000: rgb(30, 27, 22, 0.03);
  --grey-100: rgb(30, 27, 22, 0.1);
  --grey-200: rgb(30, 27, 22, 0.2);
  --grey-300: rgb(30, 27, 22, 0.3);
  --grey-400: rgb(30, 27, 22, 0.4);
  --grey-500: rgb(30, 27, 22, 0.5);
  --grey-600: rgb(30, 27, 22, 0.6);
  --grey-700: rgb(30, 27, 22, 0.7);
  --grey-800: rgb(30, 27, 22, 0.8);
  --grey-900: rgb(30, 27, 22, 0.9);


  --font-title: "josefin-sans", sans-serif;
  --font-para: "poppins", sans-serif;


  --danger: rgb(241, 45, 84);
  --danger-100: rgb(241, 45, 84, 0.1);
  --danger-200: rgba(252, 213, 221, 0.2);
  --success: rgb(46, 188, 49);
  --success-100: rgb(46, 188, 49, 0.1);
  --success-200: rgba(213, 242, 214, 0.4);
  --info: rgb(18, 119, 221);
  --info-100: rgb(18, 119, 221, 0.1);
  --warning: rgb(255, 162, 2);
  --warning-100: rgb(255, 162, 2, 0.1);
  --warning-200: rgb(255, 236, 204, 0.8);
}

body {
  font-family: var(--font-para) !important;
  background-color: rgb(234, 232, 237, 0.5) !important;
  overflow: hidden !important;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

input:focus {
  outline: none;
  border-color: #9ca3af; /* gray-400 */
}